<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxl.job.admin.dao.XxlJobLogDao">

    <select id="findLogReport" resultType="java.util.Map">
        SELECT COUNT(handle_code) triggerDayCount,
               SUM(CASE WHEN (trigger_code in (0, 200) and handle_code = 0) then 1 else 0 end) AS triggerDayCountRunning,
               SUM(CASE WHEN handle_code = 200 then 1 else 0 end)  AS triggerDayCountSuc
        FROM xxl_job_log
        WHERE trigger_time BETWEEN #{from,jdbcType=TIMESTAMP} and #{to,jdbcType=TIMESTAMP}
    </select>

    <delete id="clearLog">
        delete from xxl_job_log
        WHERE id in
        <foreach collection="logIds" item="item" open="(" close=")" separator=",">
            #{item,jdbcType=NUMERIC}
        </foreach>
    </delete>

    <update id="updateAlarmStatus">
        UPDATE xxl_job_log
        SET alarm_status = #{newAlarmStatus,jdbcType=INTEGER}
        WHERE id = #{logId,jdbcType=NUMERIC}
          AND alarm_status = #{oldAlarmStatus,jdbcType=INTEGER}
    </update>

    <select id="findLostJobIds" resultType="long">
        SELECT t.id
        FROM xxl_job_log t LEFT JOIN xxl_job_registry t2
          ON t.executor_address = t2.registry_value
        WHERE t.trigger_code = 200
          AND t.handle_code = 0
          AND t.trigger_time <![CDATA[ <= ]]> #{losedTime ,jdbcType=TIMESTAMP}
          AND t2.id IS NULL
    </select>

</mapper>