<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxl.job.admin.dao.XxlJobUserDao">

    <select id="maxId" resultType="java.lang.Integer">
        SELECT MAX(id) AS MAX_ID FROM xxl_job_user
    </select>


</mapper>