<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxl.job.admin.dao.XxlJobRegistryDao">

    <resultMap id="XxlJobRegistry" type="com.xxl.job.admin.core.model.XxlJobRegistry">
        <result column="id" property="id" jdbcType="NUMERIC"/>
        <result column="registry_group" property="registryGroup" jdbcType="VARCHAR"/>
        <result column="registry_key" property="registryKey" jdbcType="VARCHAR"/>
        <result column="registry_value" property="registryValue" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        t.id,
		t.registry_group,
		t.registry_key,
		t.registry_value,
		t.update_time
    </sql>

    <select id="findDead" parameterType="java.util.HashMap" resultType="java.lang.Long">
        SELECT t.id
        FROM xxl_job_registry t
        WHERE t.update_time <![CDATA[ < ]]> #{nowTime,jdbcType=TIMESTAMP}
    </select>

    <delete id="removeDead" parameterType="java.lang.Long">
        DELETE FROM xxl_job_registry
        WHERE id in
        <foreach collection="ids" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>

    <select id="findAll" parameterType="java.util.HashMap" resultMap="XxlJobRegistry">
        SELECT
        <include refid="Base_Column_List"/>
        FROM xxl_job_registry t
        WHERE t.update_time <![CDATA[ > ]]> #{nowTime,jdbcType=TIMESTAMP}
    </select>

    <update id="registryUpdate">
        UPDATE xxl_job_registry
        SET update_time = #{updateTime,jdbcType=TIMESTAMP}
        WHERE registry_group = #{registryGroup,jdbcType=VARCHAR}
          AND registry_key = #{registryKey,jdbcType=VARCHAR}
          AND registry_value = #{registryValue,jdbcType=VARCHAR}
    </update>


    <delete id="registryDelete">
        DELETE
        FROM xxl_job_registry
        WHERE registry_group = #{registryGroup,jdbcType=VARCHAR}
          AND registry_key = #{registryKey,jdbcType=VARCHAR}
          AND registry_value = #{registryValue,jdbcType=VARCHAR}
    </delete>

</mapper>